<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>תודה שמילאת</title>
    <style>
        html {
            width: 100%;
            height: 100%;
        }
        
        body {
            margin: 0;
            padding-top: 20% ;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5db58), color-stop(0.2, #fff3b6), to(#fff3b6));
            background-image: -moz-linear-gradient(top center, #f5db58, #fff3b6 20%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5DB58', endColorstr='#FFF3B6');
            background-color: #FFF3B6;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            text-align: center;
            font-family: "Hadassah", "Arial", sans-serif;
            direction: rtl;
            font-size: 3em;
            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
תודה על תרומתך.
<br>
התקציב טיפה יותר שקוף בזכותך
</body>
</html>