<div class='pniya' id='pniya-'>
    <h4>פנייה</h4>
    <div class='detail mispar-pniya'>
        <label>מספר פנייה:</label>
        <%= pniya.text_field :mispar, :class => 'mispar-pniya' %>
        <button class='start-filling'>יאללה, מתחילים</button>
        <span class='enter-number'>יש להכניס מספר</span>
        <div class='question-mark'>
            <div class='explanation'>
                <div class='explanation-img'></div>
                <div class='spinner'></div>
            </div>
        </div>
    </div>
</div>